table{
	border:2px solid black;
	background:lightgray;
	padding:1em;
}
td,th{
	border:2px solid black;
	
	text-align:center;
	background:rgb(255, 255, 255);
	font-size: 20px;
	font-family:  Arial, Helvetica, sans-serif;
	
	height:100px
}
#me{
	color:rgb(234, 0, 255);
}

.empty{
	background:rgb(255, 74, 74);
}

.missing{
	background:rgb(0, 191, 255);
}