td{
  border-style: solid;
  border-width: 1px;
  width: 70px;
  height: 60px;
  text-align:center;
  
}
a{
  text-decoration: none;
  color: black;
  padding: -20px;
}
#inv{
  border-style: none;
  height: 10px;
  width: 40px;
  
}
#empty{
  background-color: #FF9999;
  width: 70px;
}
table{
  margin: auto;
  border-style: solid;
  padding: 30px;
}
#e{
  background-color: #00a0fd;
 
}
#en{
  color: blue;
}
th{
  text-align: center;
  background-color: #e1f0ff;
  width: 70px;
}
#beans{
  color: red;
  border-color: red;
  text-align: center;
  background-color: #6b0000;
  width: 70px;
}
#logged{
  color: red;
  border-color: rgb(255, 251, 0);
  text-align: center;
  background-color: #ffa600;
  width: 70px;
}
#t{
  text-align: center;
  background-color: #fff38a;
  width: 70px;
}
#nagyonagy{
  padding-top: 100px;

}
br{ 
  line-height: 150%;
}
#push{
  
  color: black;
}
li{
  font-size: 20px;
}
#navid{
  background-color: burlywood;
}
#lg{
  color: rgb(255, 97, 97);
}
#lg:hover{
  color: red;
}